@import "tailwindcss";

@theme {
  --color-primary: #eeeeee;
  --color-secondary: #303841;
  --color-grey-dark: #3a4750;
  --color-neon: #00adb5;
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    background: url("/img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    color: white;
  }

  h1,
  h2,
  h3 {
    font-family: "Bungee", sans-serif;
  }

  h4,
  h5,
  h6 {
    font-family: "Outfit", sans-serif;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}

@layer components {

  .text-shadow-neon {
    text-shadow: 0 5px 5px var(--color-neon);
  }

  /* Desktop */
  .nav-item {
    position: relative;
    cursor: pointer;
    transition: color 0.3s;
  }

  .nav-item::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-neon);
    transition: width 0.3s ease-out;
  }

  .nav-item:hover::after {
    width: 100%;
  }

  .nav-item.active::after {
    width: 100%;
    background-color: rgb(34, 211, 238);
  }

  /* Mobile */
  .nav-ham {
    position: relative;
    cursor: pointer;
    transition: color 0.3s;
  }

  .nav-ham::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-neon);
    transition: width 0.3s ease-out;
  }

  .nav-ham:hover::after {
    width: 30%;
  }

  .nav-ham.active::after {
    width: 30%;
    background-color: rgb(34, 211, 238);
  }

  .skill-bg {
    @apply bg-secondary/30 hover:bg-secondary/50 border border-neon/20 hover:border-neon/40 rounded-md p-4
  }

}